#container {
     display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color: white;
    
    }
    #container > div {
        height: 75px;
        border: 1px solid gray;
        }

